*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header h3{
    font-size: 2rem;
    color: silver;
}
.d-flex{
    display: flex;
}
.banner-section{
    color: white;
}
.banner-section .image-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    align-content: center;
}
.banner-section .banner-image {
    background-image: url(../img/hero-bg.jpg);
}
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.banner-text h3{
    font-size: 4rem;
    font-weight: lighter;
}
.banner-text h2{
    font-size: 8rem;
    font-weight: 900;
}
.banner-text hr{
    height: 10px;
    background-color: white;
    width: 50%;
}
.service-image {
    display: flex;
    width: 50%;
    padding: 20px 0;
}
.service-image img{
    width: 30%;
    padding: 10px 0;
}
.services-section{
    flex-direction: column;
    background: silver;
    align-items: center;
    padding: 100px 0 80px 0;
}
.services-text {
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding: 100px 0 80px 0;
}
.services-text h3{
    padding-bottom: 20px;
    font-size: 1.5rem;
}
.services-text h2{
    padding-bottom: 20px;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}
.services-text p{
    padding-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
    padding: 30px 0;
}
.services-section button{
    padding: 20px 30px;
    background-color: red;
    width: fit-content;
    border: none;
    border-radius: 5px;
}
.services-section button:hover{
    cursor: pointer;
    background-color: darkred;
}
.services-section input{
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}
.help-section {
    padding: 50px;
    justify-content: space-between;
}
.help-section .help-container1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.help-section .help-container1 p{
    width: 70%;
    font-size: 1rem;
    font-weight: 600;
    padding: 50px 0;
    margin-bottom: 80px;
}
.help-section .help-container2 {
    flex-direction: column;
    justify-content: center;
}
.help-section .help-container2 h3{
    font-size: 2.3rem;
    font-weight: bolder;
    padding-bottom: 10px;
}
.help-section .help-container2 h4{
    font-size: 2rem;
    font-weight: bolder;
    color: red;
    padding-bottom: 30px;
}
.quality-section {
    width: 100%;
    background: silver;
    align-content: space-between;
    padding: 30px 50px 0 50px;
}
.quality-section .image-container {
    flex-direction: column;
    height: 100%;
    align-items:center;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    justify-items: right;
}
.quality-section .image-container img{
    height: 600px;
}
.quality-section .quality-text{
    flex-direction: column;
    width: 55%;
    justify-content: center;
    justify-items: left;
}
.quality-text h2{
    color:navy;
    font-size: 4.5rem;
    font-weight: bolder;
}
.quality-text hr{
    height: 10px;
    background-color: red;
    border: none;
    width: 90%;
    margin: 20px 0;
}
.quality-text p{
    font-size: 1.3rem;
    width: 90%;
    line-height: 1.8;
}
.quality-text button{
    padding: 20px 30px;
    background-color: red;
    width: fit-content;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.quality-text button:hover{
    cursor: pointer;
    background-color: darkred;
}
.quality-text input{
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer;
}
.our-services {
    padding: 60px 80px 100px 80px;
    width: 100%;
}
.our-services h2 {
    font-size: 3.4rem;
    font-weight: bolder;
}
.service-container {
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
}
.service {
    width: 30%;
    margin: 30px 0;
}
.service .image-container {
    width: fit-content;
    background: tomato;
    padding: 20px;
    border: none;
    border-radius: 50%;
}
.service img {
    height: 60px;
}
.service h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 0;
}
.service p{
    font-style: italic;
    font-size: 1rem;
    font-weight: 600;
}
.about-section {
    background:navy;
    color: white;
    padding: 100px;
}
.about-section .about-text {
    width: 45%;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.about-text h4{
    font-size: 1.5rem;
}
.about-text h3{
    font-size: 4.5rem;
}
.about-text h2{
    font-size: 5.5rem;
    font-weight: bolder;
}
.about-section .about-image {
    width: 55%;
}
.about-image .about-image-row {
    width: 100%;
}
.about-image-row img {
    height: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    overflow: hidden;
    padding: 10px;
}
.todo {
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}
.todo-text {
    flex-direction: column;
    width: 60%;
    align-items: center;
}
.todo-text h3 {
    font-size: 2.3rem;
    font-weight: bolder;
    text-align: center;
}
.todo-text p {
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    padding: 40px 0;
}
.button-section {
    gap: 10px;
}
.button-section button {
    padding: 20px 30px;
    width: fit-content;
    border-radius: 5px;
}
.button-section .book-now {
    background-color: red;
    border: none;
}
.button-section .book-now:hover{
    cursor: pointer;
    background-color: darkred;
}
.button-section input{
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer;
}
.button-section .call-us {
    border: 1px solid black;
    color: black;
    background: none;
    cursor: pointer;
}
.button-section .call-us input{
    color: black
}

@media (max-width: 480px) {
    .banner-section .image-container {
        height: 25rem;
    
    }
    .banner-text {
        justify-content: flex-end;
        padding-bottom: 30px;
    }
    .banner-text .service-image{
        display: none;
    }
    .banner-text h3{
        font-size: 2rem;
        font-weight: lighter;
    }
    .banner-text h2{
        font-size: 4rem;
        font-weight: 900;
    }
    .banner-text hr{
        height: 10px;
        background-color: white;
        width: 100%;
    }

    .services-section{
        padding: 40px 0 30px 0;
    }
    .services-text {
        flex-direction: column;
        width: 90%;
        align-items: center;
        padding: 100px 0 80px 0;
    }
    .services-text h3{
        padding-bottom: 20px;
        font-size: 1.5rem;
    }
    .services-text h2{
        padding-bottom: 20px;
        font-size: 2.5rem;
        font-weight: bolder;
    }
    .services-text p{
        padding-bottom: 20px;
        font-size: 1.2rem;
        text-align: center;
        padding: 30px 0;
    }
    .services-section button{
        padding: 20px 30px;
        background-color: red;
        width: fit-content;
        border: none;
        border-radius: 5px;
    }

    .help-section {
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .help-section .help-container1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .help-section .help-container1 p{
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .help-section .help-container2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .help-section .help-container2 h3{
        font-size: 2.3rem;
        font-weight: bolder;
        padding-bottom: 10px;
    }
    .help-section .help-container2 h4{
        font-size: 2rem;
        font-weight: bolder;
        color: red;
        padding-bottom: 30px;
    }

    .quality-section {
        width: 100%;
        flex-direction: column;
        background: silver;
        align-content: space-between;
        padding: 30px 50px;
    }
    .quality-section .image-container {
        flex-direction: column;
        align-items:center;
        overflow: hidden;
        justify-items: right;
    }
    .quality-section .image-container img{
        height: 600px;
    }
    .quality-section .quality-text{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        justify-items: left;
    }
    .quality-text h2{
        color:navy;
        font-size: 3.5rem;
        font-weight: bolder;
    }
    .quality-text hr{
        height: 10px;
        background-color: red;
        border: none;
        width: 100%;
        margin: 20px 0;
    }
    .quality-text p{
        font-size: 1.3rem;
        width: 100%;
        line-height: 1.8;
    }
    .quality-text button{
        padding: 20px 30px;
        background-color: red;
        width: fit-content;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
    }
    .quality-text button:hover{
        cursor: pointer;
        background-color: darkred;
    }
    .quality-text input{
        background: none;
        border: none;
        color: whitesmoke;
        font-size: 0.9rem;
        font-weight: 550;
        cursor: pointer;
    }

    .our-services {
        padding: 30px 40px 50px 40px;
        width: 100%;
    }
    .our-services h2 {
        font-size: 3.4rem;
        font-weight: bolder;
    }
    .service-container {
        width: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .service {
        margin: 30px 0;
        width: 100%;
    }
    .service .image-container {
        width: fit-content;
        background: tomato;
        padding: 20px;
        border: none;
        border-radius: 50%;
    }
    .service img {
        height: 60px;
    }
    .service h3 {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 15px 0;
    }
    .service p{
        font-style: italic;
        font-size: 1rem;
        font-weight: 600;
    }

    .about-section {
        background:navy;
        color: white;
        padding: 50px;
        flex-direction: column;
        width: 100%;

    }
    .about-section .about-text {
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        width: 100%;
    }
    .about-text h4{
        font-size: 1.5rem;
    }
    .about-text h3{
        font-size: 3.5rem;
    }
    .about-text h2{
        font-size: 4.5rem;
        font-weight: bolder;
    }
    .about-section .about-image {
        width: 100%
    }
    .about-image .about-image-row {
        flex-direction: column;
        width: 100%;
    }
    .about-image-row img {
        height: 200px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 50%;
        overflow: hidden;
        padding: 10px;
    }

    .todo {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .todo-text {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .todo-text h3 {
        font-size: 2.3rem;
        font-weight: bolder;
        text-align: center;
    }
    .todo-text p {
        font-size: 2rem;
        font-weight: lighter;
        text-align: center;
        padding: 40px 0;
    }
    .button-section {
        gap: 10px;
        flex-direction: column;
    }
    .button-section button {
        padding: 20px 80px;
        width: 100%;
        border-radius: 5px;
    }
    .button-section .book-now {
        background-color: red;
        border: none;
    }
    .button-section .book-now:hover{
        cursor: pointer;
        background-color: darkred;
    }
    .button-section input{
        background: none;
        border: none;
        color: whitesmoke;
        font-size: 0.9rem;
        font-weight: 550;
        cursor: pointer;
    }
    .button-section .call-us {
        border: 1px solid black;
        color: black;
        background: none;
        cursor: pointer;
    }
    .button-section .call-us input{
        color: black
    }
}